<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personality_style_test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Personalitystyletest">
        <activity
            android:name=".triptest.triptest_result8_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result7_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result6_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result5_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result4_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_7_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".triptest.triptest_1_Activity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".santatest.santatest_result4_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatest_1_Activity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".planttest.planttest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_15_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_14_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_13_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_12_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_11_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_10_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_9_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_8_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_7_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_result5_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_result4_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetest_1_Activity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".colortest.colortest_result5_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_result4_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_result4_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_7_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketest_1_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_result3_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_result2_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_result1_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_6_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_5_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_4_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_3_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_2_Activity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtest_1_Activity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".triptest.triptestActivity"
            android:exported="true" />
        <activity
            android:name=".santatest.santatestActivity"
            android:exported="true" />
        <activity
            android:name=".planttest.planttestActivity"
            android:exported="true" />
        <activity
            android:name=".exercisetest.exercisetestActivity"
            android:exported="true" />
        <activity
            android:name=".colortest.colortestActivity"
            android:exported="true" />
        <activity
            android:name=".caketest.caketestActivity"
            android:exported="true" />
        <activity
            android:name=".bankingtest.bankingtestActivity"
            android:exported="true" />
        <activity
            android:name=".foodtest.foodtestActivity"
            android:exported="true" />
        <activity
            android:name=".coupleActivity"
            android:exported="true" />
        <activity
            android:name=".PersonalityActivity"
            android:exported="true" />
        <activity
            android:name=".HumorActivity"
            android:exported="true" />
        <activity
            android:name=".logoActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>